.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 700px;
  max-height: 80vh; /* גובה מקסימלי */
  overflow-y: auto;  /* מאפשר גלילה אנכית */
  border-radius: 10px;
  position: relative;
  direction: rtl;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.history-table th,
.history-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.history-table th {
  background-color: #f0f0f0;
}
